.vscode/**
.vscode-test/**
.superpowers/**
out/**
node_modules/**
src/**
docs/**
fixtures/**
.gitignore
.npmrc
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
pnpm-lock.yaml
package-lock.json
yarn.lock
logs.txt
**/*.vsix
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/.git/**
